<html>

<body>

    <p>To bo enkrat spletna stran. Neko prilogo zberite če vam je kaj všeč, kak približno bi zgledalo, lahko pa se vse prilagodi.</p>

    <P>Predloge:</P>
    <p>
        <a href="Focus Free Website Template - Free-CSS.com\\focus\\index.html">Focus</a>
    </p>
    <p>
        <a href="Next Level Free Website Template - Free-CSS.com\\templatemo_532_next_level\\index.html">Next Level</a>
    </p>
    <p>
        <a href="Shicso Free Website Template - Free-CSS.com\\shicso\\index.html">Shicso</a>
    </p>
    <p>
        <a href="Yeinydd Free Website Template - Free-CSS.com\\yeinydd\\index.html">Yeinydd</a>
    </p>





</body>

</html>